In [25]:
import pandas as pd
import numpy as np

from config import filename_all

In [21]:
df = pd.read_excel(filename_all)

df['Date']  = pd.to_datetime(df['Date'], format = '%d/%m/%Y')

# Month
df['Month']  = df['Date'].dt.strftime('%m')
df['Month'] = df['Month'].apply(lambda x: int(x))

# Day
df['Day'] = df['Date'].dt.strftime('%d')
df['Day'] = df['Day'].apply(lambda x: int(x))

# Week
df['Week']  = df['Date'].dt.isocalendar().week
df['Week'] = df['Week'].apply(lambda x: int(x))

df['week_cos'] = np.cos(2 * np.pi * df['Week'] / 7)
df['week_sin'] = np.sin(2 * np.pi * df['Week'] / 7)

df['month_cos'] = np.cos(2 * np.pi * df['Month'] / 12)
df['month_sin'] = np.sin(2 * np.pi * df['Month'] / 12)

df['day_cos'] = np.cos(2 * np.pi * df['Day'] / 31)
df['day_sin'] = np.sin(2 * np.pi * df['Day'] / 31)

df.drop('Date', axis = 1, inplace = True)
df.drop('Winning Numbers', axis = 1, inplace = True)
df.drop('Odd_Even', axis = 1, inplace = True)
df.drop('Odd_Even_Dist', axis = 1, inplace = True)

In [22]:
df.head()

,first,second,third,fourth,fifth,sixth,Day_Name,Month,Day,Week,week_cos,week_sin,month_cos,month_sin,day_cos,day_sin
0,2,4,7,24,32,41,Tuesday,6,29,26,-0.222521,-0.974928,-1.0,1.224647e-16,0.918958,-0.394356
1,8,14,15,22,30,36,Saturday,6,26,25,-0.900969,-0.433884,-1.0,1.224647e-16,0.528964,-0.848644
2,1,4,6,32,34,36,Thursday,6,24,25,-0.900969,-0.433884,-1.0,1.224647e-16,0.151428,-0.988468
3,7,13,14,23,29,35,Tuesday,6,22,25,-0.900969,-0.433884,-1.0,1.224647e-16,-0.250653,-0.968077
4,2,6,20,23,28,31,Saturday,6,19,24,-0.900969,0.433884,-1.0,1.224647e-16,-0.758758,-0.651372

In [23]:
df.to_excel('C:\Personal_Project\Lotto_Analysis\Data_Gathering\Results_refactored.xlsx', index = False)