In [1]:
import pandas as pd
import numpy as np
import operator

from config import filename_excel

In [2]:
df = pd.read_excel(filename_excel)

df.drop(columns=['Unnamed: 0'], inplace=True)

df['Date'] = pd.to_datetime(df['Date'], format = '%d/%m/%Y')
df['Day_Name'] = df['Date'].dt.day_name()

In [3]:
df

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name
0,2020-03-14,"08,21,24,27,32,38",8,21,24,27,32,38,Saturday
1,2020-03-12,"13,17,25,27,30,41",13,17,25,27,30,41,Thursday
2,2020-03-10,"10,21,28,32,33,36",10,21,28,32,33,36,Tuesday
3,2020-03-07,"03,05,09,11,14,17",3,5,9,11,14,17,Saturday
4,2020-03-05,"14,15,17,20,24,39",14,15,17,20,24,39,Thursday
...,...,...,...,...,...,...,...,...,...
417,2017-06-29,"04,08,14,21,38,40",4,8,14,21,38,40,Thursday
418,2017-06-27,"06,10,20,30,34,35",6,10,20,30,34,35,Tuesday
419,2017-06-24,"02,07,13,21,40,41",2,7,13,21,40,41,Saturday
420,2017-06-22,"06,12,13,16,21,27",6,12,13,16,21,27,Thursday
421,2017-06-20,"11,12,13,14,24,25",11,12,13,14,24,25,Tuesday

In [9]:
def z_score(df):
    cols = ['first','second','third','fourth','fifth','sixth']
    
    for i in cols:
        cols_zscore = i + '_zscore'
        df[cols_zscore] = (df[i] - df[i].mean()) / df[i].std()

In [10]:
z_score(df)

In [11]:
df

,Date,Winning Numbers,first,second,third,fourth,fifth,sixth,Day_Name,first_zscore,second_zscore,third_zscore,fourth_zscore,fifth_zscore,sixth_zscore
0,2020-03-14,"08,21,24,27,32,38",8,21,24,27,32,38,Saturday,0.351457,1.456488,0.837179,0.377997,0.209194,0.206941
1,2020-03-12,"13,17,25,27,30,41",13,17,25,27,30,41,Thursday,1.353584,0.807108,0.985123,0.377997,-0.123938,0.858651
2,2020-03-10,"10,21,28,32,33,36",10,21,28,32,33,36,Tuesday,0.752308,1.456488,1.428954,1.131136,0.375760,-0.227532
3,2020-03-07,"03,05,09,11,14,17",3,5,9,11,14,17,Saturday,-0.650670,-1.141031,-1.381977,-2.032048,-2.788991,-4.355028
4,2020-03-05,"14,15,17,20,24,39",14,15,17,20,24,39,Thursday,1.554009,0.482418,-0.198427,-0.676397,-1.123332,0.424178
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
417,2017-06-29,"04,08,14,21,38,40",4,8,14,21,38,40,Thursday,-0.450245,-0.653996,-0.642258,-0.525770,1.208589,0.641414
418,2017-06-27,"06,10,20,30,34,35",6,10,20,30,34,35,Tuesday,-0.049394,-0.329306,0.245404,0.829881,0.542326,-0.444769
419,2017-06-24,"02,07,13,21,40,41",2,7,13,21,40,41,Saturday,-0.851096,-0.816341,-0.790202,-0.525770,1.541720,0.858651
420,2017-06-22,"06,12,13,16,21,27",6,12,13,16,21,27,Thursday,-0.049394,-0.004616,-0.790202,-1.278909,-1.623030,-2.182662
421,2017-06-20,"11,12,13,14,24,25",11,12,13,14,24,25,Tuesday,0.952733,-0.004616,-0.790202,-1.580164,-1.123332,-2.617135